/********************************************************************/
/* top-menu / Верхнее меню */

.top-menu > home {
}
.top-menu > ul {
	margin: 0; 
	padding: 0; 
	text-align: right;
	padding-top: 20px;
}
.top-menu > ul > li {
	display: inline; 
	margin-right: 30px; 
}
.top-menu > ul > li > a {
	color: rgba(34, 34, 34, 0.8); 
	font-family: 'PT Sans', sans-serif; 
	font-size: 20px; 
	font-weight: 700; 
	text-decoration: none; 
	transition-duration: 0.25s;
}
.top-menu > ul > li > a:hover {
	color: rgba(34, 34, 34, 1);
	border-bottom: 2px solid rgba(34, 34, 34, 0.5);
}

.top-menu {
	position: fixed; 
	width: 100%; 
	height: 70px; 
	top: 0; 
	left: 0; 
	z-index: 501;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0.65) 45%, rgba(255,255,255,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(30%,rgba(255,255,255,0)), color-stop(45%,rgba(255,255,255,0.65)), color-stop(100%,rgba(255,255,255,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0.65) 45%,rgba(255,255,255,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0.65) 45%,rgba(255,255,255,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0.65) 45%,rgba(255,255,255,0.65) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0.65) 45%,rgba(255,255,255,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.top-logo {
	position: absolute;
	left: 30px;
	top: 10px;
	width: 250px;
	height: 250px;
	background-image: url(../../../images/logo.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transition-duration: 0.25s;
}

/********************************************************************/