/********************************************************************/
/* home / Главная / Блок "Слайдер" */

#home-slider {
	position: relative; 
	width: 100%; 
	height: auto; 
	top: 0; 
	left: 0;
}

#home-slider .slider-text-div-1 {
	position: absolute;
	right: 100px;
	bottom: 150px;
}

#home-slider .slider-text-white {
	color: rgba(255, 255, 255, 1);
	font-family: 'PT Sans', sans-serif; 
	font-size: 60px;
	padding: 0px 17px;
}
#home-slider .slider-text-white.normal {
	font-weight: 400;
}
#home-slider .slider-text-white.bold {
	font-weight: 700;
}
#home-slider .slider-text-white.bg {
	background-color: rgba(34, 34, 34, 1);
}
#home-slider .slider-text-white.shadow {
	text-shadow: 1px 2px 0px rgba(34, 34, 34, 1);
}

#home-slider .slider-text-small-white {
	color: rgba(255, 255, 255, 1);
	font-family: 'PT Sans', sans-serif; 
	font-size: 30px;
	font-weight: 700;
	padding: 0px 17px;
}
#home-slider .slider-text-small-white.bg {
	background-color: rgba(34, 34, 34, 1);
}
#home-slider .slider-text-small-white.shadow {
	text-shadow: 1px 2px 0px rgba(34, 34, 34, 1);
}
#home-slider .slider-text-small-white.normal {
	font-weight: 400;
}
#home-slider .slider-text-small-white.bold {
	font-weight: 700;
}

#home-slider .slider-text-black {
	color: rgba(34, 34, 34, 1);
	font-family: 'PT Sans', sans-serif; 
	font-size: 60px;
	font-weight: 700;
	padding: 0px 17px;
}
#home-slider .slider-text-black.bg {
	background-color: rgba(255, 255, 255, 1);
}

#home-slider .slider-button-div-1 {
	position: absolute;
	right: 100px;
	bottom: 90px;
}
#home-slider .slider-button-text {
	color: rgba(255, 255, 255, 1);
	font-family: 'PT Sans', sans-serif; 
	font-size: 14px;
	font-weight: 400;
	padding: 20px 40px;
	background-color: rgba(34, 34, 34, 1);
	text-decoration: none;
}
#home-slider .slider-button-text:hover {
	color: rgba(255, 255, 255, 1);
	font-family: 'PT Sans', sans-serif; 
	font-size: 14px;
	font-weight: 400;
	padding: 20px 40px;
	background-color: rgba(17, 17, 17, 1);
	text-decoration: none;
}

/********************************************************************/

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bxslider li {
	position: relative;
}

.bx-wrapper {
	position: relative;
	margin: -16px auto 0px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	background: #fff;
	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 0px;
	width: 90%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../../../images/home/slider/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: left;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 0px;
	left: 15px;
	bottom: 15px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #ffffff;
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 15px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #222222;
	transition-duration: 0.5s;
	opacity: 0.5;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #222222;
	border: 1px solid #ffffff;
	transition-duration: 0.5s;
	opacity: 1;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(../../../images/home/slider/left-arrow.png) no-repeat;
	opacity: 0.25;
	transition-duration: 0.5s;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(../../../images/home/slider/right-arrow.png) no-repeat;
	opacity: 0.25;
	transition-duration: 0.5s;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
	opacity: 1;
	transition-duration: 0.5s;
}

.bx-wrapper .bx-next:hover {
	background-position: 0 0;
	opacity: 1;
	transition-duration: 0.5s;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 48px;
	height: 48px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../../../images/home/slider/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../../../images/home/slider/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

/********************************************************************/