/********************************************************************/
/* new */
#home-new {
	position: relative;
	width: 100%;
	height: 500px;
}

.new-header {
	position: absolute;
	width: 100%;
	height: 70px;
	left: 0;
	top: 40px;
	font-family: 'PT Sans', sans-serif; 
	text-align: center;
	}
			
.new-header span {
	text-transform: uppercase;
	height: auto;
	font-size: 24px;
	font-weight: bold;
}
			
.new-header h1 {
	font-weight: normal;
	font-size: 15px;
	color: #222222;
}
			
.new-catalog{
	text-align: center;
	position: absolute;
	left: 0;
	top: 130px;
	width: 100%;
	height: 870px;
}
		
.new-position-1 tr td {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 390px;
}


.new-position-1 img{
	width:100%;
}
			
			
.new-position-2 tr td{
	position:absolute;
	left:33%;
	top:0px;
	height: 390px;
}
.new-position-2 img{
	width:100%;
}
		
			
.new-position-3 tr td{
	position:absolute;
	left:67%;
	top:0px;
	position:absolute;
	height: 390px;
}
.new-position-3 img{
	width:100%;
}
		
.new-table{
	border-spacing: 0px;
	margin-left:auto;
	margin-right:auto;
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0px 0%;
  width: 99%;
  text-align: center;
  cursor: pointer;
}

.grid figure.effect-zoe p.description a{
text-decoration:none;
color: #FFF;
}

.grid figure img {
	position: relative;
	display: block;
	max-width: 100%; 
}


.grid figure:hover{
background: #000;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption ul {
font-size:13px;
list-style-type: none;
  text-align: left;
  float: left;
  right: 40px;
  bottom: 9px;
  position: relative;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 28px;
    float: left;
}

.grid figure p img {
  top: 9px;
  width: 100%
}

.grid figure ul li a{
  color: #233252;
  border-bottom: 2px solid #233252;
  text-decoration: none;
}

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	color: #3c4a50;
	font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
font-weight: bold;
  background: #222222;
  position: absolute;
  bottom: 6em;
  padding: 0em;
  color: #fff;
  text-transform: none;
  font-size: 22px;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: hidden;
   text-transform: uppercase;
}


figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}


