/********************************************************************/
/* Импорт стилей */

/* top-menu / Верхнее меню */
@import "pages/top-menu/top-menu.css";

/* home / Главная */
@import "pages/home/home.css";
	/* home / Главная / Блок "Слайдер" */
	@import "pages/home/home-slider.css";
	/* home / Главная / Блок "Новинки" */
	@import "pages/home/home-new.css";

/********************************************************************/

/* general */
body {
	padding: 0; 
	margin: 0;
}

#wrapper {
	width: 100%; 
	height: auto;
	position:relative;
}

/********************************************************************/